@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tapestry&display=swap');

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
 }


h2 {
    margin: 0;
}


h1 {
    text-align: center;
}

body {
    background-color: #1ee0d7;
}

header {
    padding: 1em;
     background-color: #5555a5;
     display: grid;
     grid-template-columns: 98px auto;

}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

footer h3 {
    color: #4A6FA5;
}

footer a {
    color: #ffffff;
    background-color: #4A6FA5;
    text-decoration: none;
}

footer a:hover {
    color: #4A6FA5;
    background-color: white;
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;}

footer.social img {
    padding-top: 15px;
}


#background {
    height: 725px;
    background-color: #4A6FA5;
  
}

#logo_link {
    padding-top: 3px;
    padding-top: 5px;
    justify-self: center;
    align-self: center
}
 

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
   
    footer {
        margin-top: 25px;
    }
}