@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tapestry&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
 }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tapestry', cursive; 
}

h2 {
    margin: 0;
}

h4 {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #4A6FA5;
}

header {
     background-color: #4A6FA5;
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

nav a {
    text-align: center center;
    color: white;
    text-decoration: none;
    background-color: #ffe600;
    padding: 7.5px;
}

nav a:hover{
    background-color: #4A6FA5;
    color: white;
}

footer h3 {
    color: #4A6FA5;
}

footer a {
    color: #ffffff;
    background-color: #4A6FA5;
    text-decoration: none;
}

footer a:hover {
    color: #4A6FA5;
    background-color: white;
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    margin-top: 200px;
}

footer.social img {
    padding-top: 15px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #4A6FA5;
}

#hero_img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #4A6FA5;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    color: white;
    background-color: #4A6FA5;
}
 
.msg {
    background-color: #ffffff;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #4A6FA5;
    font-family: 'Roboto', sans-serif;
 }

.msg p {
    color: #4A6FA5;
    font-size: .8em;
    padding-bottom: 15px;
}
 
.home-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.card-img {
    border: 10px solid #ffffff;
}

  



