h4 {
       color: white;
       text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #4A6FA5;
}

header {
    text-align: center;
    background-color: #4A6FA5;
}
main section {
    text-align: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #4A6FA5;
    color: white;
}

footer h3 {
    color: #4A6FA5;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #4A6FA5;
    background-color: white;
    text-decoration: none;
}

footer {
    background-color: #4A6FA5;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #4A6FA5;
}

#hero_img {
    width: 100%;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #4A6FA5;
    color: white;
    text-decoration: none;
}

.book:hover, .join:hover{
    color: white;
    background-color: #4A6FA5;
}
 
.msg {
    background-color: #ffffff;
}

.msg h2 {
    color: #4A6FA5;
}

.msg p {
    color: #4A6FA5;
}
 
.home-title {
    color: white;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

  



