div#content{
    max-width: 1600px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}
nav a
#hero-msg h1, #hero-msg h4
.button-box
main section
div.button-box{
    text-align: center;
}