@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tapestry&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
 }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tapestry', cursive; 
}

.hh1 {
    text-align: justify;
    font-size: large;
}
h2 {
    margin: 0;
}

h4 {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #4A6FA5;
}
.header-background-image {
    background-image: url(“images/student”);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
header {
    background-color: #0011ff;
    display: grid;
    grid-template-columns: 150px auto;
 
}
main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 7.5px;
}

nav a:hover{
  background-color: #4A6FA5;
  color: white;
}

footer h3 {
  color: #4A6FA5;
}

footer a {
  color: #ffffff;
  background-color: #4A6FA5;
  text-decoration: none;
}

footer a:hover {
  color: #4A6FA5;
  background-color: white;
  text-decoration: none;
}

footer {
  padding: 25px 50px;
  margin-top: 200px; 
  border-bottom: 8px solid #ffee01;
}


footer.social img {
  padding-top: 15px;
}


#content {
  max-width: 1600px;
  margin: 0 auto;
}
 

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  justify-content: first baseline;
}
 

#background {
  height: 725px;
  background-color: #4A6FA5;
  grid-column: 1/11;
  grid-row: 4/9;
}

#hero_img {
  width: 100%;
  border-bottom: 3px solid #1828fa;

}

#logo_link {
  padding-top: 5px;
  padding-top: 5px;
  justify-self: center;
  align-self: center
 }

.button-box {
  text-align: center;
}

.book, .join {
  background-color: #ffe604;
  color: #4A6FA5;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin: 50px;
  border-radius: 5px;
     
}

.book:hover, .join:hover{
  color: white;
  background-color: #4A6FA5;
}
 
.msg {
  background-color: #ffffff;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;

}
.alumni-1 {
  width: 200%;
  height: 50%;
}
.msg h2 {
  color: #4A6FA5;
  font-family: 'Roboto', sans-serif;
 }

.msg p {
  color: #4A6FA5;
  font-size: .8em;
  padding-bottom: 15px;
}
 
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-title{
  text-align: center;
  align-self: center;
  justify-content: center;
}
.old_students {
  align-items: right;
  grid-column-start: 3/3;
  justify-content: right;
}

.quote {
  align-items: left;
  grid-column: 1/2;
  justify-content: left;
  float: left;
}
.logo {
  width: 80px;
  margin-left: 100%;
}

#joy-content {
  max-width: 1600px;
  margin: 0 auto;
}

.faq-texts {
  color: #d9c2a3;
  width: 700px; 
  height: 270px; 
  margin-left: 10%;
  align-self: center;
  padding-left: 80px;
  margin-bottom: 50%;
     
  
  } 
.faq-grid{
  color: rgb(255, 251, 0);
  float: left;    
  margin: 0 15px ;
}

.subpage-heading {
  color: #ffe604;
  text-align: center;
  font-size: 44px;
  font-family: 'Tapestry', cursive; 
  margin-top: 5%;
  margin-bottom: 5%;

}
.details {
  text-align: justify;
}

.details-1 {
  color: rgb(65, 62, 63);
}

.details-2 {
  color: aquamarine;
}


.upper-footer {
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/2;
}
.lower-footer {
  width: 100%; 
  background-color: blue; 
  margin-bottom: -100%;
}

.footer-links {
 float: right;
 display: inline;
}
    
.social-links {
  margin-left: 82.6%;
  display: inline;
}
.copyright {
  display: flex;
}

.page-break {
padding: 3rem;
}
.alumni-2 {
  width: 45%;    height: 90%;
  border-radius: 3%;
  border-top-left-radius: 1%;
    
    
}
.alumni-3 {
  width: 45%;
  height: 90%;
  float: right;
  margin-left: 3px;
  border-radius: 3%;
  opacity: 6;
  transform: scale(1.1);
}
.activity_welcome {
  color: #ffe604;
  text-align: center;
  font-size: 44px;
  font-family: 'Tapestry', cursive; 
  margin-top: 5%; 
  font-style: italic;
  box-sizing: border-box;
  border-right: 20px solid #ffee00;
  padding: 1em;
  border: 3px solid #fc00da;
  border-radius: 1em;  
}
.collage_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}
.collage-1 {
  width: 530px;
  height: 400px;
  grid-column-start: 1;
  margin-bottom: 30px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffee00;
  


}
.collage-2 {
  width: 530px;
  height: 400px;
  grid-column-start: 2;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffee00;  
}
.collage-3 {
  width: 530px;
  height: 400px;
  grid-column-start: 3;
  margin-bottom: 30px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffee00;  

}
.header-text {
  color: #ffa600;
  text-align: center;
  font-size: 75px;
  font-family: 'Tapestry', cursive;
  margin-top: 3.2%;
  position: absolute;
  align-items: center;
  animation: 10s ease-out;
        
}

.alumni-2-text {
  position: absolute;
}
.alumni-3-text {
  position: absolute;
  text-align: center;
  justify-content: center;
  float: right;
  margin-left: 40%;
}
.actions {
  justify-content: center;
  align-items: center;
  color: black;
  text-align: left;
  position: -ms-page;
}
.collage-4 {
  width: 530px;
  height: 400px;
  grid-column-start: 1/1;
  margin-bottom: 30px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffffff;

}
.collage-5 {
  width: 530px;
  height: 400px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffffff;

}
.collage-6 {
  width: 530px;
  height: 400px;
  grid-column-start: 1/3;
  margin-bottom: 30px;
  border-bottom: 20px solid #ffee00;
  border-top: 20px solid #ffffff;

}

.collage-7 {
  width: 530px;
  height: 400px;
  grid-column-start: 1/3;
  margin-bottom: 30px;

}
.collage-8 {
  width: 530px;
  height: 400px;
  grid-column-start: 2/3;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;

}
.collage-9 {
  width: 530px;
  height: 400px;
  grid-column-start: 3/3;
  margin-bottom: 30px;

}
.collage-10 {
  width: 530px;
  height: 400px;
  grid-column-start: 1/4;
  margin-bottom: 30px;

}
form {
    /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
    /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  }
  
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  form li + li {
  margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid rgb(252, 0, 105);
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: rgb(0, 0, 0);
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  .submit {
    margin-top: 40px;
    margin-left: 9px;
  }
  .reset {
    margin-left: 13px;
    width: 1%
  }
  .user-request {
    text-align: center;
 
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}


.donation-container {
	height: 1000px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
}

.donation-box {
	width: 390px;
	height: 386px;
	background-color: #F5F5F5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.donation-box .title {
	background-color: #C1D82F;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
}

.donation-box .donate-button {
	background-color: #C1D82F;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: gray;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 190px;
  left: 15px;
  margin: 20px auto;
  height: 26px;
  width: 58.5%;
  background: white;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 11px;
  color: #5C5C5C;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-color: #C1D82F;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
	position: absolute;
	top: 242px;
	left: 13px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #C1D82F;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}


.checkbox:checked {
	background-color: #C1D82F;
	border: 1px solid #C1D82F;
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}


.sidenav {
    height: auto;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(104, 74, 60);
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 1100px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  }
.anthem {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.anthem-chorus {
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #770505;
  text-decoration: solid;
  border-bottom: 20px solid #ffee00;
}
.anthem-heading {
  text-align: center;
  font-style: italic;
  font-size: 44px;
  font-family: 'Tapestry', 'cursive'; 
  color: #ffffff;
  background-color: #8a0404;
  text-decoration: wavy;
  border-bottom: 20px solid #ffee00;
}
.search-bar {
  margin-left: 800px;
}

/*slides css added*/
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
 .grid-block {
  display: grid;
  grid-template-columns: 3fr 3fr;
  width:30%;
 }
 .our_details {
  grid-column-start: 1 span 3;
  margin-left: 60px;
  margin-right: 600px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-family: 'Tapestry', 'cursive'; 
  color: #ffffff;
  box-sizing: border-box;
  border-right: 20px solid #ffee00;
  padding: 1em;
  border: 1px solid rgb(253, 3, 3);
  border-radius: 1em;   
}
.our_details p:nth-of-type(1){
  font-size: 44px;
  color:#ffee00;
}
.our_details p:nth-of-type(4){
  color:#ffee00;
}
 .user-request {
  grid-column: 3;
  margin-left: auto;
 }
 .user-request p:nth-of-type(1){
  font-size: 30px;
  color:#0011ff;
  font-family: 'Tapestry', 'cursive'; 
}


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
@media screen and (max-width: 900px) {
    #hero, .home-grid {
      display: block;
      height: auto;
    }
    nav, footer {
      flex-direction: column;
    }
    nav a {
      display: block;
      padding: 15px;
    }
    #hero {
      margin-top: 0;
    }
    #hero-msg {
      margin-top: 0;
    }
    #hero-msg h4 {
      display: none;
    }
    .home-title {
      font-size: 25px;
      color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
    }
    #background {
      display: none;
    }
    .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    footer {
      margin-top: 25px;
    }
}